import { injectable, inject } from "inversify"
import { Request, Response, NextFunction } from "express"
import { {{resourceClass}}Repository } from "../repositories/{{resourceFile}}Repository"
import { TYPES } from "../di/TYPES"

@injectable()
export class {{resourceClass}}Controller {
    private _{{resourceVar}}Repository: {{resourceClass}}Repository

    constructor(@inject(TYPES.{{resourceClass}}Repository) {{resourceVar}}Repository: {{resourceClass}}Repository){
        this._{{resourceVar}}Repository = {{resourceVar}}Repository
    }

    getAll{{resourceClass}}s = async(req: Request, res: Response, next: NextFunction) => {
        try{
            const result = await this._{{resourceVar}}Repository.getAll{{resourceClass}}s()

            res.json(result)
        } catch(error){
            next(error)
        }
    }

    get{{resourceClass}}ById = async(req: Request, res: Response, next: NextFunction) => {
        try{
            const id = req.params.id as string
            const result = await this._{{resourceVar}}Repository.get{{resourceClass}}ById(id)
            if(!result) throw new Error(`Something went wrong when fetching {{resourceVar}} with id: ${id}`)

            res.json(result)
        } catch(error){
            next(error)
        }
    }

    create{{resourceClass}} = async(req: Request, res: Response, next: NextFunction) => {
        try{
            const {{resourceVar}}CreationData = req.body
            const created = await this._{{resourceVar}}Repository.create{{resourceClass}}({{resourceVar}}CreationData)

            res.json(created)
        } catch(error){
            next(error)
        }
    }

    update{{resourceClass}} = async(req: Request, res: Response, next: NextFunction) => {
        try{
            const id = req.params.id as string
            const {{resourceVar}}UpdateData = req.body
            const updated = await this._{{resourceVar}}Repository.update{{resourceClass}}(id,{{resourceVar}}UpdateData)
            if(!updated) throw new Error(`Something went wrong when updating {{resourceVar}} with id: ${id}`)

            res.json(updated)
        } catch(error){
            next(error)
        }
    }

    delete{{resourceClass}} = async(req: Request, res: Response, next: NextFunction) => {
        try{
            const id = req.params.id as string
            await this._{{resourceVar}}Repository.delete{{resourceClass}}(id)

            res.sendStatus(204)
        } catch(error){
            next(error)
        }
    }
}