import { injectable, inject } from "inversify"
import { Request, Response, NextFunction } from "express"
import { {{resourceClass}}Repository } from "../repositories/{{resourceFile}}Repository"
import { TYPES } from "../di/TYPES"

@injectable()
export class {{resourceClass}}Controller {
    private _{{resourceVar}}Repository: {{resourceClass}}Repository

    constructor(@inject(TYPES.{{resourceClass}}Repository) {{resourceVar}}Repository: {{resourceClass}}Repository){
        this._{{resourceVar}}Repository = {{resourceVar}}Repository
    }

    getAll{{resourceClass}}s = async(req: Request, res: Response, next: NextFunction) => {
        try{
            res.json({ message: 'not implemented' })
        } catch(error){
            next(error)
        }
    }

    get{{resourceClass}}ById = async(req: Request, res: Response, next: NextFunction) => {
        try{
            res.json({ message: 'not implemented' })
        } catch(error){
            next(error)
        }
    }

    create{{resourceClass}} = async(req: Request, res: Response, next: NextFunction) => {
        try{
            res.json({ message: 'not implemented' })
        } catch(error){
            next(error)
        }
    }

    update{{resourceClass}} = async(req: Request, res: Response, next: NextFunction) => {
        try{
            res.json({ message: 'not implemented' })
        } catch(error){
            next(error)
        }
    }

    delete{{resourceClass}} = async(req: Request, res: Response, next: NextFunction) => {
        try{
            res.json({ message: 'not implemented' })
        } catch(error){
            next(error)
        }
    }
}