import { injectable } from "inversify"

@injectable()
export class {{resourceClass}}Repository{

    getAll{{resourceClass}}s = async () => {}

    get{{resourceClass}}ById = async () => {}

    create{{resourceClass}} = async () => {}

    update{{resourceClass}} = async () => {}

    delete{{resourceClass}} = async () => {}
}