
import { injectable } from "inversify"
import { {{resourceClass}}Attributes, Create{{resourceClass}}Attributes, Update{{resourceClass}}Attributes } from '../models/{{resourceFile}}Model'

@injectable()
export class {{resourceClass}}Repository{

    getAll{{resourceClass}}s = async (): Promise<{{resourceClass}}Attributes[]> => {
        return await {{resourceClass}}.findAll()
    }

    get{{resourceClass}}ById = async (id: string): Promise<{{resourceClass}}Attributes> => {
        return await {{resourceClass}}.findByPk(id)
    }

    create{{resourceClass}} = async (data: Create{{resourceClass}}Attributes): Promise<{{resourceClass}}Attributes> => {
        return await {{resourceClass}}.create(data)
    }

    update{{resourceClass}} = async (id: string, data: Update{{resourceClass}}Attributes): Promise<{{resourceClass}}Attributes | null> => {
        return await {{resourceClass}}.update(data, {where: {id}})
    }

    delete{{resourceClass}} = async (id: string) => {
        return await {{resourceClass}}.destroy({where: {id}})
    }
}